{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
<h1>Modifier le produit</h1>

<form method="post" action="{{ path('product_edit', {'id': product.id}) }}">
    <div class="mb-3">
        <label style="color:rgb(195, 137, 65); for="name" class="form-label">Nom</label>
        <input type="text" id="name" name="name" class="form-control" value="{{ product.name }}" required>
    </div>
    <div class="mb-3">
        <label style="color:rgb(195, 137, 65); for="description" class="form-label">Description</label>
        <textarea id="description" name="description" class="form-control">{{ product.description }}</textarea>
    </div>
    <div class="mb-3">
        <label style="color:rgb(195, 137, 65); for="price" class="form-label">Prix</label>
        <input type="number" step="0.01" id="price" name="price" class="form-control" value="{{ product.price }}" required>
    </div>

    <button type="submit" class="btn btn-primary">Modifier</button>
    <a href="{{ path('product_index') }}" class="btn btn-secondary">Retour</a>
</form>
{% endblock %}
